extends layout
block content
  //- Main container
  section.products
    div.section-title
      h2= title
    div.products-center
      //- Single product
      each product in context.products
        article.product
          div.img-container
            img.product-img(alt="products" src=product.image)
            //- button.bag-btn #{product.price}.00 Ugx
            div.detail
              h6 
                strong Name : 
                span(style="color:#eb612a;")= product.name
              h6
                strong Price :
                span Ugx #{product.price}.00

              if product.scheme == "LTPP"
                span.prod
                  strong= product.scheme
              span.prod.point
                a.btn.hand(href="/product/views/" +product.id, title="More" style="background-color:orangered; color:white;")
                  i.fa.fa-hand-point-right.fa-lg

            //- End single product 
        //- End single product 
  //- End main container
  //- Footer 
  footer.mt-3
    include include/footer