extends layout
block content
 
  //- Main container
  section.products
    div.section-title
      h2= title
    div.products-center
      //- Single product
      each product in context.products
        article.product
          div.img-container
            img.product-img(alt="products" src=product.image)
            button.bag-btn Ugx. #{product.price}.00
            div.detail
              h3
                strong= product.name
              if product.scheme == "LTPP"
                h4= product.scheme
              span 
                a(href="/product/more/"+product.id) &#8594;
              //- End single product        
  //- End main container
  //- Footer 
  footer.mt-3
    include include/footer.pug