extends layout
block content
    //-  Main container
    div.container-fluid
        div.row
            div.col-md-12
                div.row
                    div.col-md-8.offset-md-2.bg-light
                        form.my-4
                            h3.text-center Product Details
                            //- Personal data
                            .mb-1
                                div.form-row
                                    div.form-group.col-md-5
                                        img.img-fluid(src=product.pdt_image, width=250, height=290)
                                    .form-group.col-md-7
                                        .row
                                            .col-md-4
                                                label
                                                    strong Product Name :
                                            .col-md-8
                                                p= product.pdt_name
                                        .row
                                            .col-md-4
                                                label
                                                    strong Make :
                                            .col-md-8
                                                p= product.make     
                                        .row
                                            .col-md-4
                                                label 
                                                    strong Category :
                                            .col-md-8
                                                p= product.pdt_category
                                        .row
                                            .col-md-4
                                                label
                                                    strong Color :
                                            .col-md-8
                                                p= product.pdt_color
                                        .row
                                            .col-md-4
                                                label
                                                    strong Price :
                                            .col-md-8
                                                p= product.pdt_price
                                        .form-row
                                            .col-md-4
                                                label
                                                    strong Pay Interval :
                                            .col-md-8
                                                p= product.pay_interval
                                        .row
                                            .col-md-4
                                                label
                                                    strong No. in Stock :
                                            .col-md-8
                                                p= product.pdt_stock
                                        .row
                                            .col-md-4
                                                label
                                                    strong Pdt Scheme :
                                            .col-md-8
                                                p= product.pdt_scheme
                                div.form-row
                                    div.form-group.col-md-12
                                        label
                                            strong Product Description
                                        p= product.pdt_desc
                                .form-row.d-flex.justify-content-around.bg-light.py-2                                    
                                    a.btn.ml-3(href="/" role="button" style="background-color:orangered; color:white;")
                                        i.icon-lock
                                            span.pl-1 Done
                            
                            //- End product registration form 
                

    //- End main container 

    
        
    
        