extends layout
block content
  //-  Main container
  div.container-fluid
    div.row
      div.d-none.col-lg-2.d-lg-block#admin-list

        include include/staff_sidebar 

      div.col-md-12.col-lg-10
        //- Products table
        table.table.table-hover.table-bordered.table-sm#product-table
          thead.thead.covid-table.text-primary
            tr
              th(scope="col") S. No
              th(scope="col") Product
              th(scope="col") Category
              th(scope="col") Price
              th(scope="col") Scheme
              th(scope="col") Created
              th(scope="col") More
              th(scope="col") Delete
          
          tbody
            //- Products
            each product in context.products
              tr
                td #{product.serial}
                td #{product.name}
                td #{product.category}
                td #{product.price}
                td #{product.scheme}
                td #{product.entry}
                td
                  a(href="/product/view/" +product.id role="button" title="View more").btn.btn-warning.py-1.px-2
                    i.icon-home.fa-sm
                td
                  a(href="/product/delete/"+product.id role="button").btn.btn-danger.py-1.px-2
                    i.icon-trash.fa-sm
                      
            //- End Products
          //- End products table
    
        