extends layout
block content
  //- Main container
  div.container-fluid
    div.row
      div.d-none.col-lg-2.d-lg-block#admin-list
        include include/staff_sidebar
      //- End of navbar

      div.col-md-12.col-lg-10
        //- Admin design -->
        //- Start admin pills
        div.row.mt-1.pt-2.mx-2.admin-top-row
          div.col-xs-6.col-sm-4.col-md-2.mb-2
            div.border.admin-pills.py-1
              p
                strong Products in Stock
              small= count

          div.col-xs-6.col-sm-4.col-md-2.mb-2
            div.border.admin-pills.py-1
              p
                strong Revenue
              //- small= total.TotalRevenue

          div.col-xs-6.col-sm-4.col-md-2.mb-2
            div.border.admin-pills.py-1
              p
                strong Sales Agent
              small= staff

          div.col-xs-6.col-sm-4.col-md-2.mb-2
            div.border.admin-pills.py-1
              p
                strong Sales
              //- small 20

          div.col-xs-6.col-sm-4.col-md-2.mb-2
            div.border.admin-pills.py-1
              p
                strong Registered Clients
              small= client

          div.col-xs-6.col-sm-4.col-md-2.mb-2
            div.border.admin-pills.py-1
              p
                strong(style="color: blue;") Logged as #{role}
              h6(style="color: blue;")
                strong= fname
        //- End Admin pills

        //- Table Division
        .row.mt-1.pt-2.mr-2
          .col-md-12
            h3.text-center.pt-1.pb-3
              b Client Transactions
            //- Products table
            table.table.table-hover.table-bordered.table-sm#product-table
              thead.thead.covid-table.text-primary
                tr
                  th(scope="col") Name
                  th(scope="col") Item
                  th(scope="col") Initial Pay (Ugx)
                  th(scope="col") Phone
                  //- th(scope="col") Email
                  //- th(scope="col") Nat ID
                  th(scope="col") Client No
                  th(scope="col") Ref No
                  
              tbody
                //- Products
                each client in clients
                  tr
                    td #{client.cname}
                    td #{client.citemName}
                    td #{client.cinitialPay}.00
                    td #{client.cphone}
                    //- td #{client.cemail}
                    //- td #{client.cnid}
                    td #{client.crefNo}
                    td #{client.refereeNo}
                          
        //- End table division

        //- Next main admin div
        
        //- End next main admin div  
      //- End admin design
  //- End main container 
