extends layout
block content
    //-  Main container
    div.container-fluid
        div.row
            div.d-none.col-lg-2.d-lg-block#admin-list

                include include/staff_sidebar 

            div.col-md-12.col-lg-10
                div.row
                    div.col-md-8.offset-md-2
                        form.my-4
                            h3.text-center Product Details
                            //- Personal data
                            .mb-2
                                div.form-row
                                    div.form-group.col-md-4
                                        label
                                            strong Product Name
                                        p= product.pdt_name
                                    div.form-group.col-md-4
                                        label
                                            strong Make
                                        p= product.make
                                    div.form-group.col-md-4
                                        label 
                                            strong Category
                                        p= product.pdt_category

                                div.form-row
                                    div.form-group.col-md-4
                                        label
                                            strong Color
                                        p= product.pdt_color
                                    div.form-group.col-md-4
                                        label
                                            strong Price
                                        p= product.pdt_price
                                    div.form-group.col-md-4
                                        label
                                            strong Payment Interval
                                        p= product.pay_interval
                                        
                                    div.form-group.col-md-4
                                        label
                                            strong Number in Stock
                                        p= product.pdt_stock
                                    div.form-group.col-md-4
                                        label
                                            strong Product Scheme
                                        p= product.pdt_scheme
                                    div.form-group.col-md-4
                                        label
                                            strong Product Image
                                        p= product.pdt_image
                                        
                                div.form-row
                                    div.form-group.col-md-4
                                        label
                                            strong Product Description
                                        p= product.pdt_desc
                                    
                            a(href="/product/edit/"+product._id role="button").btn.btn-warning
                                i.icon-pencil
                                    span.pl-1 Edit
                            
                            a(href="/product/list" role="button").btn.btn-success.ml-3
                                i.icon-pencil
                                    span.pl-1 Done
                            
                            //- End product registration form 
                

    //- End main container 

    
        
    
        